@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 600%;
  display: block;
  font-weight: 500;
}

h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 400%;
  display: block;
  font-weight: 500;
}

h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 250%;
  font-weight: 600;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  font-weight: 400;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 130%;
  font-weight: 400;
}

.header {
  width: 100%;
  text-align: center;
  padding: 1% 1%;
  background-image: url('https://sans1075.github.io/bsylc/header-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: -1%;
  margin-bottom: 0;
}

.focus {
  width: 100%;
  padding: 1% 1%;
  padding-top: 0;
  align-content: space-evenly;
  background-image: url('https://static.wixstatic.com/media/11062b_81c2fc27768c49ccb259123d551d58ec~mv2.jpg/v1/fill/w_980,h_805,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_81c2fc27768c49ccb259123d551d58ec~mv2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -1%;
  color: #172e52;
}

.focus-header {
  background-color: #d3def0;
  color: #172e52;
  margin-top: -2%;
}

.focus-columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.focus-columns-law,
.focus-columns-publicpolicy,
.focus-columns-civics,
.focus-columns-politics {
  background-color: #fff;
  width: 19%;
  display: flex;
  text-align: center;
  padding: 0 2% 2% 2%;
  margin: 0 1%;
  flex-direction: column;
}

.focus-columns-law {
  margin-left: 1%;
}

.focus-columns-politics {
  margin-right: 1%;
}

.conferencerecap {
  background-color: white;
  color: #172e52;
}

.conferencerecap h2 {
  text-align: left;
  margin-left: 7%;
}

.conferencerecap-desc {
  margin-left: 7%;
  margin-right: 35%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.conferencerecap-photos img:nth-child(1),
.conferencerecap-photos img:nth-child(2) {
  margin-top: 2%;
}

.conferencerecap-photos img:nth-child(1),
.conferencerecap-photos img:nth-child(5) {
  margin-left: 1%;
}

.conferencerecap-photos img:nth-child(5),
.conferencerecap-photos img:nth-child(6) {
  margin-top: -18%;
}

.conferencerecap-photos img:nth-child(4) {
  margin-right: 1%;
}

.conferencerecap-govwesmoore {
  margin-top: -1%;
}

.conferencerecap-govwesmoore-video {
  align-content: center;
  display: block;
  margin-left: 20%;
  margin-top: -1%;
  margin-bottom: 4%;
}

.partners {
  text-align: center;
  background: linear-gradient(90deg, #51627D 0%, rgba(139,151,169, 0.25) 100%);
  color: white;
  height: 40%;
  width: 100%;
  padding: 1%;
  margin: 0 -1%;
}

.partners-header {
  margin-top: -3%;
}

.partners-desc {
  margin-top: -2%;
}

.partners-logos {
  display: flex;
  margin: -1% 0 -5% 28%;
}

.footer {
  background-color: #172e52;
  color: white;
  width: 100%;
  margin: 0 -1% 0 -1%;
  padding: 1%;
  margin-bottom: -2%;
}

.footer-text {
  display: flex;
  margin-left: 33%;
  margin-top: -2%;
}

.footer-text h4 {
  margin-left: 3%;
  margin-top: 6%;
}

.footer-text br {
 display: block;
 content: "";
 margin-top: -4%;
}

hr {
  width: 65%;
  border-color: #8b97a9;
  margin-top: -1%;
}

.footer-contact {
  text-align: center;
  display: flex;
}

.footer-contact p {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contact h4 {
  margin-bottom: 1%;
  margin-top: 1%;
}

.footer-contact-main,
.footer-contact-map {
  width: 30%;
  height: 20%;
  margin-right: -10%;
  margin-left: -10%;
}

.footer-contact-main {
  margin-left: 25%;
}

.footer-contact-insta {
  width: 20%;
  height: 20%;
}
