@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 600%;
  display: block;
  font-weight: 500;
}

h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 400%;
  display: block;
  font-weight: 400;
}

h4 {
  font-family: 'Beiruti', sans-serif;
  font-size: 300%;
  font-weight: 400;
}

.header {
  width: 100%;
  text-align: center;
  padding: 10px 10px;
  background-image: url('header-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin: -10px;
  margin-bottom: 0px;
}

.focus {
  align-content: space-evenly;
  background-image: url('focus-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.focus-header {
  background-color: #d3def0;
  color: #172e52;
}

.focus-law {
  background-color: #FFFFF;
  width: 20%;
  height: 40%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 0 10px;
}

.focus-publicpolicy {
  background-color: #FFFFF;
  width: 20%;
  height: 40%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 0 10px;
}

.focus-civics {
  background-color: #FFFFF;
  width: 20%;
  height: 40%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 0 10px;
}

.focus-politics {
  background-color: #FFFFF;
  width: 20%;
  height: 40%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 0 10px;
}
